In [1]:
import pandas as pd

In [2]:
#Import csv from folder
dfPath="cityFrame.csv"
cityDf=pd.read_csv(dfPath)
cityDf.head()

,City,Lat,Lng,MaxTemp,Humidity,Cloudiness,WindSpeed,Country,Date
0,rikitea,-23.1203,-134.9692,79.32,78,10,17.60,PF,1613317351
1,ponta do sol,32.6667,-17.1000,64.40,72,0,4.61,PT,1613317383
2,mataura,-46.1927,168.8643,57.00,93,48,5.99,NZ,1613317374
3,flinders,-34.5833,150.8552,64.99,84,32,1.99,AU,1613317454
4,spornoye,50.8448,37.2913,12.20,73,90,11.18,RU,1613317455

In [3]:
#Export as html
htmlCityFrame = cityDf.to_html('table.html', index=False)